__pycache__/
*.py[cod]
*$py.class

.idea/
venv/
open_ai_dalle/image/
open_ai_dalle/settings/
open_ai_chat_gpt/settings/
open_ai_chat_gpt/my_account.session
open_ai_chat_gpt/my_account.session-journal
text_to_mp3/mp3/
youtube_video_to_pdf/data/